__pycache__/
.pytest_cache/
logs/
allure-results/
allure-report/

api_framework/allure-results/
api_framework/logs/*
!api_framework/logs/.gitkeep
api_framework/reports/*
!api_framework/reports/.gitkeep
api_framework/__pycache__/
api_framework/core/__pycache__/
api_framework/testcases/__pycache__/
api_framework/.pytest_cache/

node_modules/